/* http://www.zovirl.com/2011/07/22/solarized_cheat_sheet/ */

body, li, ul, ol {
    background-color: #002b36;
    color: #eee8d5;
}
pre {
    background-color: #002b36 !important;
    color: #eee8d5;
    border-color: #586e75;
}
.r {
    background-color: #073642 !important;
}
tr.even {
    background-color: #002b36 !important;
}
tr.odd{
    background-color: #073642 !important;
}
input {
    background-color: #586e75;
}
label, a, .dataTables_info {
    color: #586e75 !important;
}
.hljs-number {
    color: #c7254c;
}
.hljs-string {
    color: #099;
}